<h2>Livros cadastrados</h2>
<table class="table">
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>Descrição</th>
  </tr>
{{ range . }}
  <tr>
    <td>{{ .Title }}</td>
    <td>{{ .Author }}</td>
    <td>{{ .Description }}</td>
  </tr>
{{ end }}
</table>
